
.hamburguer-menu{
    width: 0px;
    visibility: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    z-index: 1;
}

.top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 20px;
}

.text-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
}
input{
    width: 90%;
}





